.product-image {
    position: relative;

}

.product-price {
    position: absolute;
    right: 0;
    top: 40px;
    background-color: #5F10CC;
    color: #fff;
    padding: 5px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.brand-name {
    position: absolute;
    left: 0;
    top: 40px;
}

.pagination .selected {
    background-color: #5F10CC;
    color: #fff;
    border-width: 0;
    padding: 10px;
    border-radius: 8px;
    margin: 0 5px;
}

.pagination .notSelected,
.pagination button {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 8px;
    margin: 0 5px;
}

.pagination .notSelected:hover {
    background-color: #BE79FB;
}